details {
    /* fermé et ouvert */
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
    flex-direction: row;
}

details[open] {
    /* ouvert */
    gap: 10px;
    transition: 0.5s ease-in;
}

.accordeon {
    display: flex;
    gap: 10px;
}